---
import Layout from "../layouts/layout.astro";
import ParallaxBackground from "../partials/parallax-background.astro";
import Navbar from "../partials/navbar.astro";
import Hero from "../partials/hero.astro";
import About from "../partials/about.astro";
import OrderFlow from "../partials/order-flow.astro";
import StyleShowcase from "../partials/style-showcase.astro";
import ContactSection from "../partials/contact-section.astro";
import Footer from "../partials/footer.astro";
import { siteContent } from "../data/content.ts";

const { meta, hero, about, orderFlow, styleShowcase, contact, footer } = siteContent;
---

<Layout title={meta.title} description={meta.description}>
  <ParallaxBackground />
  <Navbar />

  <main class="relative z-10">
    <Hero content={hero} />
    <About content={about} />
    <OrderFlow content={orderFlow} />
    <StyleShowcase content={styleShowcase} />
    <ContactSection content={contact} />
    <Footer name={footer.name} />
  </main>
</Layout>
