---
import Layout from "../layouts/layout.astro";
import ParallaxBackground from "../partials/parallax-background.astro";
import Navbar from "../partials/navbar.astro";
import Hero from "../partials/hero.astro";
import About from "../partials/about.astro";
import OrderFlow from "../partials/order-flow.astro";
import StyleShowcase from "../partials/style-showcase.astro";
import KitchenSection from "../partials/kitchen-section.astro";
import ContactSection from "../partials/contact-section.astro";
import Footer from "../partials/footer.astro";
import { siteContent } from "../data/content.ts";

const {
  meta,
  hero,
  about,
  orderFlow,
  styleShowcase,
  kitchenSection,
  contact,
  footer,
} = siteContent;
---

<Layout
  title={meta.title}
  description={meta.description}
  image={meta.image}
  imageAlt={meta.imageAlt}
  siteUrl={meta.siteUrl}
  keywords={meta.keywords}
  author={meta.author}
  twitterHandle={meta.twitterHandle}
>
  <ParallaxBackground />
  <Navbar />

  <main class="relative z-10">
    <Hero content={hero} />
    <About content={about} />
    <OrderFlow content={orderFlow} />
    <StyleShowcase content={styleShowcase} />
    <KitchenSection content={kitchenSection} />
    <ContactSection content={contact} />
    <Footer name={footer.name} />
  </main>
</Layout>
